* {
    margin:none;
    padding:none;
}
.Division {
    margin:none;
    background-image: linear-gradient(yellow,green);
    font-family:'Orbitron', sans-serif;
    color:#ffffff;
    text-shadow: 8px 8px 10px #000000;
    padding:10px;
}