<div class="forgotPasswordOutLine">
  <form action="" class="forgotPassword_Form">
    <h2 class="forgotPasswordTitle">Forgot Password</h2>
    <ul class="forgotPasswordForm">
        <li class="forgotPasswordBlock">
          <input type="email" placeholder="Enter Email ID" class="forgotPassword_inputEmail">
        </li>
        <li class="forgotPasswordButtonBlock">
          <button type="button" class="btn forgotPassword_Button btn-success" onclick="forgotPasswordInfo()">Submit</button>
          <button type="button" class="btn returnToLogin_Button btn-primary" onclick="loadSelectedTemplate('Login')">Back</button>
        </li>
    </ul>
</form>
</div>