@font-face {
  font-family:new_font;
  src: url('../../public/Fonts/Edu_AU_VIC_WA_NT_Hand/EduAUVICWANTHand-VariableFont_wght.ttf');
}

.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
}

.roomContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.roomTitle {
  font-size:30px;
  font-family:new_font;
  margin:10px;
}
.roomContainer ul {
  list-style: none;
  padding: 0;
}

.roomContainer li {
  margin-bottom: 15px;
}

.roomContainer input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

.roomContainer input[type="text"]:focus {
  border-color: #007bff; /* Change to your desired focus color */
  outline: none;
}

.joinButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.joinButton:hover {
  background-color: #0056b3; /* Darker shade of the main color */
}

.backButton {
  padding: 10px;
  background-color: #dc3545; /* Bootstrap's danger color */
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.backButton:hover {
  background-color: #c82333; /* Darker shade of the danger color */
}
