/* styles/Chat.css */
@font-face {
    font-family:new_font;
    src: url('../../public/Fonts/Edu_AU_VIC_WA_NT_Hand/EduAUVICWANTHand-VariableFont_wght.ttf');
}
.chatContainer {
    min-width:500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.chatContainer:hover {
    transform: translateY(-5px);
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
}
.chatTitle {
    font-family:new_font;
    font-size:30px;
    font-weight:500;
    text-shadow:0px 5px 15px rgba(3, 246, 254,0.90)
}
.chat-body {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.chat-footer input[type="text"]:focus {
    box-shadow: 0 0 10px #00bfff;
    outline: none;
}

.chat-footer button {
    margin-left: 10px;
    padding: 15px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.chat-footer button:hover {
    background-color: #1e90ff;
}

.chat-footer button:active {
    background-color: #4169e1;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.chat-footer button:focus {
    outline: none;
}

#you {
    background-color: rgb(29, 240, 240);
    color:#000;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    align-self: flex-end;
}

#other {
    background-color: rgb(177, 82, 245);
    color:#fff;
    border-radius: 10px;
    margin: 10px;
    padding:5px 10px;
    display: inline-block;
    align-self: flex-start;
}

.chatMessage {
    display: flex;
    margin-bottom: 10px;
}

.chatMessage.you {
    justify-content: flex-end;
}

.chatMessage.other {
    justify-content: flex-start;
}

.username_and_time {

    font-size: 10px;
    text-align:start;
}

.clearChatButton {
    padding: 10px;
    background-color: #dc3545; 
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
  }
  
  .clearChatButton:hover {
    background-color: #c82333; 
  }
