* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body {
  background-color:rgb(2, 48, 66);
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  overflow:hidden;
}
@media screen and (max-width:800px) {
  body {
    overflow:hidden;
  }
}
