.Body {
    margin:10px;
    color: black;
    font-family:serif;
    font-style:italic;
    background-image: linear-gradient(yellow,aqua);
    background-repeat: no-repeat;
    height:cover;
}
.Heading {
    font-family:'Orbitron', sans-serif;
    text-align:center;
    font-size:xx-large;
    font-style:italic;
}
.Image {
    display:block;
    width:500px;
    margin:5px auto;
    border:4px solid black;
}
.Paragraph {
    /* text-align:center; */
    font-style:italic;
    font-size:large;
}
a {
    text-decoration: none;
    color: black;
    text-align: none;
}
a:hover {
    color: rgb(230, 100, 79);
    
}
.Video {
    display:block;
    width:800px;
    margin:0 auto;
}
li .Planets{
    font-size:x-large ;
}
.dec
{
    color:rgb(94, 1, 254)
}
            